<main class="wrapper">
  <br>
  <div class="card">
    <div class="card-divider">
      <h2 class="card-title">
        <%= title %>
      </h2>
    </div>

    <div class="card-section">
      <div class="row column">
        <%= form.check_box :registrations_enabled %>
      </div>

      <div class="row column">
        <p><%= t(".registrations_count", count: rendezvous.registrations.count) %></p>
        <%= form.number_field :available_slots %>
        <p class="help-text"><%= t(".available_slots_help") %></p>
      </div>

      <div class="row column">
        <%= form.translated :editor, :registration_terms %>
      </div>
    </div>
  </div>
</main>

<%= stylesheet_link_tag "decidim/rendezvouses/rendezvouses" %>
<%= javascript_include_tag "decidim/rendezvouses/rendezvouses" %>
<%= javascript_include_tag "decidim/rendezvouses/registrations_form" %>
